/* UNIVERSAL STYLE */
* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* COMMON STYLE*/
.contents-default-width {
  margin-left: 170px;
  margin-right: 170px;
}

.tomato-col {
  color: tomato;
}

.primary-btn {
  color: white;
  padding: 13px 18px;
  background-color: tomato;
  border: none;
  font-weight: 500;
  font-size: 16px;
}

.header-logo {
  width: 150px;
}

.header-propic {
  width: 60px;
  border-radius: 25%;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.banner {
  height: 100vh;
  background-image: url('images/fatiha-top.png'), linear-gradient(45deg, rgb(18, 17, 17), rgb(220, 207, 207, 3));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  position: relative;
}

.banner-contents {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.banner-contents p,
h1,
small {
  padding: 7px;
  margin-bottom: 5px;
}

.banner-contents a {
  text-decoration: none;
}

.banner-contents p {
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 25px;
}

.banner-contents h1 {
  font-weight: 900;
  font-size: 40px;
}

.banner-contents small {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-btn {
  color: tomato;
  background-color: white;
}

/* MAKE APPOINTMENT BOX SECTION STYLE STARTS */
.make-appointment-box {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgb(198, 85, 85), rgb(241, 15, 15));
  border: none;
  border-radius: 10px;
  align-items: center;
  position: absolute;
  top: 100vh;
  padding: 20px;
}

.phone-contact {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.phone-logo,
.p-cont {
  width: 100%;
}

.for-hr-line {
  border-right: 2px solid gray;
}

.middle-contents {
  font-size: 12px;
  padding: 20px;
}

.appoint-btn {
  padding: 10px 25px;
  border-radius: 15px;
  border: none;
}

.p-get-words {
  font-size: 10px;
}

.p-numbers {
  font-size: 25px;
}

/* MAKE APPOINTMENT BOX SECTION STYLE ENDS */

.failure-section {
  background-image: linear-gradient(45deg, rgba(130, 130, 236, 0.692), rgba(52, 52, 238, 0.932));
}

.failure-parts {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.failure-image,
.failure-contents {
  width: 50%;
}

.failure-contents {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


/* BLOOG BOXES */
.blog-all-sec {
  padding-top: 50px;
}

.blog-sec {
  text-align: center;
}

.blog-sec h1 {
  font-weight: 900;
  font-size: 30px;
}

.blogbox-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: gray;
  text-align: center;
}

.blog-box {
  width: 300px;
  height: 340px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 5px 5px 13px rgb(86, 56, 56);
}

.blog-box img {
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.blogbox-container h4 {
  padding-top: 11px;
  font-size: 16px;
}

.blogbox-container p {
  padding-top: 11px;
  font-size: 12px;
}

.blog-box-inside-contensts {
  padding: 10px;
}

/* SECTION PART-3 STYLE STARTS */
.sec-3-part {
  background-image: url('images/watch.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section-3 {
  padding-top: 20px;
}

/* MAKE ALL CONTENTS RELATIVE TO IMAGE AND SHOW*/
.absolute-div {
  position: absolute;
  top: 25%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

.absolute-div h2 {
  color: #FFF;
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* SECTION PART-3 STYLE ENDS */


.footer-all {
  padding-top: 50px;
  padding-bottom: 30px;
  background: rgb(25, 102, 246);
  color: white;
}

.foot-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 25px;
}

.foot-section-items {
  width: 50%;
}

.foot-section-items>form input,
textarea {
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background: #FFF;
  margin-bottom: 10px;
}

.foot-section-items>form textarea {
  display: block;
  height: 170px;
}

.hr-line {
  border: 1px solid tomato;
}

.footer-foot {
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

/* Responsive mobile styles */
@media screen and (max-width: 576px) {
  .contents-default-width {
    margin: 0;
  }

  .header-propic {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner,
  .blogbox-container {
    display: flex;
    flex-direction: column;
  }

  .banner-contents,
  .failure-contents {
    text-align: center;
  }

  .failure-parts,
  .foot-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .failure-image,
  .failure-contents,
  .foot-section-items {
    width: 80%;
    padding-left: 20px;
  }
}